{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/style1.css' %}" />

<!DOCTYPE html>
<html>
<head>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/style1.css"> -->
	<style>
		body{
			background-color: #ddd;
		}
	</style>
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1 style="color: brown; font-size: 50px; font-weight: 900;">About Us</h1>
				</div>
				<div class="content">
					<h3> <b> <u> Expense Manager </u></b></h3>
					<p>Expense Manager is simple, intuitive, stable and feature-rich app that is just designed for you. Everything you need at your fingertips to manage the expenditures,budgets. 100% FREE – full features, no hidden charges or in-app purchases. <br><br><b>The major advantages of tracking :</b><br>
					<ul>
						<li>It helps you control your budget.</li>
						<li>It helps you track your financial progress.</li>
						<li>the main reason you should track your expenses is to identify and eliminate wasteful spending habits in your financial life.</li>
					</ul>
					
					
					</p>
				
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a> 
				
				</div> 
				<script> 
					document.write('<a  style="text-decoration: none; color:white; font-size: 40px ; background-color:#a52a2a; border:3px solid black;" href="' + document.referrer + '">Go Back</a>');
				</script>
				
			</div>
			<div class="image-section">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWTnEwVIuDIgfrsJ20Sk_vCWcMzvX4fjI16Q&usqp=CAU">
			</div>
		</div>
	
	</div>
	<br><br><br>

	
</body>
</html>